services:

  pyafipws-service:
    build:
      context: .
      dockerfile: Dockerfile.local
    ports:
      - 5000:5000
    restart: always
    environment:
      - CUIT=23236938409
      - CERT=user.crt
      - PRIVATEKEY=user.key
      - PRODUCTION=FALSE
      - EUREKA_PORT=8761
      - INSTANCE_PORT=5000
      - CERT_DATE=2019-01-01
