services:

  pyafipws-service:
    build:
      context: .
      dockerfile: Dockerfile.local
    ports:
      - 8281:8281
    restart: always
    environment:
      - CUIT=23236938409
      - CERT=dqmdz.crt
      - PRIVATEKEY=dqmdz.key
      - PRODUCTION=FALSE
      - EUREKA_PORT=8761
      - INSTANCE_PORT=5000
